# Pandas Series

In [1]:
import pandas as pd
    
# making data frame  
df = pd.read_csv("C:/Users/ANJU/Desktop/internship/student data.csv")

### Accessing element of Series

In [10]:
import numpy as np
 
# creating simple array
data = np.array(df['Hours'])
ser = pd.Series(data)
  
#retrieve the first element
print(ser[:5])

0    2.5
1    5.1
2    3.2
3    8.5
4    3.5
dtype: float64

In [11]:
df.head(5)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

### Indexing a Series using indexing operator []

In [12]:
ser = pd.Series(df['Hours']) 
data = ser.head(10)
data

0    2.5
1    5.1
2    3.2
3    8.5
4    3.5
5    1.5
6    9.2
7    5.5
8    8.3
9    2.7
Name: Hours, dtype: float64

### Indexing a Series using .iloc[]

In [13]:
data=df.iloc[0:5, 0:6].values
data

array([[ 2.5, 21. ],
       [ 5.1, 47. ],
       [ 3.2, 27. ],
       [ 8.5, 75. ],
       [ 3.5, 30. ]])

### Binary Operation on Series

In [14]:
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
 
print(data, "\n\n", data1)

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

### Conversion Operation on Series

In [16]:
data = pd.read_csv("C:/Users/ANJU/Desktop/internship/student data.csv") 

# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
   
# storing dtype before converting 
before = data.dtypes 
   
# converting dtypes using astype 
data["Hours"]= data["Hours"].astype(int) 
data["Scores"]= data["Scores"].astype(str) 
   
# storing dtype after converting 
after = data.dtypes 
   
# printing to compare 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n")

BEFORE CONVERSION
 Hours     float64
Scores      int64
dtype: object

AFTER CONVERSION
 Hours      int32
Scores    object
dtype: object